body
{
    background-color: #2F3336;
    margin: 0;
}

#container
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    border-style: dotted;

}

.orderSection
{
    width:380px;
    border-style: dotted;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right:auto;
}

.textFormat
{
    text-align:center;
    margin-bottom: 15px;
}

.paragraphFormat
{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.calcSubmitButton
{
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    float:right;
}
